@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}
.btnContainer {
  background-color: rgb(52, 4, 4);
  /* width: 100%;
  height: 100%; */
  color: rgb(26, 103, 171);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnContainer:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(106, 80, 61);
}
