@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
} */
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Pencil";
  src: url("../public/fonts/Handodle-rg38A.ttf");
}
.glow-text {
  text-shadow: 0 10px 10px #00ff00, 0 10px 20px #00ff00, 0 10px 30px #00ff00;
  letter-spacing: 0.5rem;
}
.btn-glow-yes {
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  padding: 1rem;
}
.btn-glow-no {
  box-shadow: 0 0 10px #ff0084, 0 0 20px #ff0084, 0 0 40px #ff0084;
  padding: 1rem;
}
.btnContainer {
  background-color: rgb(52, 4, 4);
  /* width: 100%;
  height: 100%; */
  color: rgb(26, 103, 171);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  /* animation:  1s ease-in-out infinite alternate; */
  pointer-events: none;
}

.btnContainer:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(106, 80, 61);
}
.carousel {
  position: relative;
  width: 100vw; /* Full screen width */
  height: 100px; /* Image height */
  overflow: hidden;
  display: flex;
}

.carousel-track {
  display: flex;
  animation: scroll 10s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  gap: 52px;
}

@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw); /* Travel full screen width */
  }
}
